/*@import url('https://fonts.googleapis.com/css?family=Dosis|Open+Sans&display=swap');
*/
li {
	list-style: none;
}
body{
	text-align: center;
}
.container{
	height: 1000px;
	width: 100%;
	background: url("../files/bgimg.png") 100% no-repeat white;
	background-position: center top;
	margin: -15px auto;
}
.anchor{
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	color: rgba(0,0,0,0.4)
}
.anchor:hover {
	border-bottom: 1px solid black;
	color: black;
}
.nav-list-item{
	display: inline;
	padding-left: 25px;
	padding-right: 25px; 
}
.nav-ul {
	padding-right: 100px;
}

.header-nav {
	background-color: rgba(229,230,230,0.5);
	padding-top: 14px;
	padding-bottom: 8px;
}
.img-header {
	position: relative;
	right: 27px;
	top: 147px;
}

.discographi {
	background-image: url("../files/discograph.png");
	background-repeat: no-repeat;
	padding-bottom: 1px;
	background-position: 50% 100%;
}

.disc-h1 {
	text-align: center;
	background-color: url("../files/discograph.png");
	text-transform: uppercase;
}

.disc-head {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-left:30%;
	margin-right:30%;
	margin-bottom: 150px;
	color: rgba(0,0,0,0.5);
}

.main-div{
	display: inline-block;
	background: rgba(0,0,0,0.5);
	padding: 50px;
	vertical-align: top;
}
.main-div p {
	text-align: left
}

.disc-block{
	margin-top: 100px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	
}
.disc-block .sect-1 {
	width:530px;
	height:290px;
	
}
.disc-block .sect-2 {
	width:670px;
	height:290px;
}
.disc-block hr {
	border: none;
	color: black;
	background-color: black;
	height: 1px;
	width: 96%;
	margin-left:0px;
}
.pdis {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-align: left;
	margin-bottom: -5px;
	color:#8b8b8b;
	
}
.pdis-cop {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-align: left;
	text-transform: uppercase;
	color:black;
	margin-top:-5px;
	
}
.pdis-cop-2 {
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	font-weight: 600;
	color:black;
	margin-top: 3px;
	
}
.disc-block article {
	font-family: 'Open Sans', sans-serif;
	text-align:left;
	font-size: 14px;
}
.disc-block audio {
	position: relative;
	top:40px;
	right: 185px;
	background-image: url("../files/button.svg");
}
.last {
	margin-bottom: 400px;
}
