/*@import url('https://fonts.googleapis.com/css?family=Dosis|Open+Sans&display=swap');
*/
li {
	list-style: none;
}
body{
	text-align: center;
}
.container{
	height: 1000px;
	width: 100%;
	background: url("../files/bgimg.png") 100% no-repeat white;
	background-position: center top;
	margin: -15px auto;
}
.anchor{
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	color: rgba(0,0,0,0.4)
}
.anchor:hover {
	border-bottom: 1px solid black;
	color: black;
}
.nav-list-item{
	display: inline;
	padding-left: 25px;
	padding-right: 25px; 
}
.nav-ul {
	padding-right: 100px;
}

.header-nav {
	background-color: rgba(229,230,230,0.5);
	padding-top: 14px;
	padding-bottom: 8px;
}
.img-header {
	position: relative;
	right: 27px;
	top: 147px;
}

.discographi {
	background-image: url("../files/discograph.png");
	background-repeat: no-repeat;
	padding-bottom: 1px;
	background-position: 50% 100%;
}

.disc-h1 {
	margin-top: 140px;
	text-align: center;
	background-color: url("../files/discograph.png");
	text-transform: uppercase;
}

.disc-head {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-left:30%;
	margin-right:30%;
	margin-bottom: 150px;
	margin-top: 30px;
	color: rgba(0,0,0,0.5);
}

.main-div{
	display: inline-block;
	background: rgba(0,0,0,0.5);
	padding: 50px;
	vertical-align: top;
}
.main-div p {
	text-align: left
}

.disc-block{
	margin-top: 100px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	
}
.disc-block .sect-1 {
	width:530px;
	height:290px;
	
}
.disc-block .sect-2 {
	width:670px;
	height:290px;
}
.disc-block hr {
	border: none;
	color: black;
	background-color: black;
	height: 1px;
	width: 96%;
	margin-left:0px;
}
.pdis {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-align: left;
	margin-bottom: -5px;
	color:#8b8b8b;
	
}
.pdis-cop {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-align: left;
	text-transform: uppercase;
	color:black;
	margin-top:-5px;
	
}
.pdis-cop-2 {
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	font-weight: 600;
	color:black;
	margin-top: 3px;
	
}
.disc-block article {
	font-family: 'Open Sans', sans-serif;
	text-align:left;
	font-size: 14px;
	color: rgba(0,0,0,0.5);
}
.disc-block audio {
	position: relative;
	top:40px;
	right: 185px;
	background-image: url("../files/button.svg");
}
.last {
	margin-bottom: 400px;
}
.content {
	background: url("../files/bgcont.png") 100% no-repeat;
	width: auto;
	height: 1200px;
	background-position: center bottom;
	
}
.block-cont {
	display: flex;
	flex-direction: column;
	align-items:  center;
	margin-left: 340px;
	margin-top: 400px;

}

.block-cont .cont-sect{
	position: relative;
	right: 420px;
	height:70px;
	width: 400px;
}
.block-cont .cont-sect-2{
	position: relative;
	right: 283px;
	height:260px;
	width: 680px;
	margin-top: 60px;
}
.cont-sect-3{
	position: relative;
	right: 530px;
	width: 195px;
	height: 55px;
	border: 1px solid rgba(0,0,0,0.3);
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-decoration: none;
	color: black;
}
@media screen and (min-width: 900px) {
	.block-cont {
		display: flex;
		flex-direction: column;
		align-items:  center;
		margin-left: 340px;
		margin-top: 400px;

	}
}
.block-cont hr{
	border: none;
	color: black;
	background-color: black;
	height: 1px;
	width: 96%;
	margin-left:0px;
}
.cont-cop{
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	font-weight: 400;
	font-size: 20px;
	color:black;
	margin-top: 3px;
}
.block-cont article {
	font-family: 'Open Sans', sans-serif;
	text-align:left;
	font-size: 14px;
	color: rgba(0,0,0,0.5);
}
.pcont{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-align: left;
	font-size: 12px;
	margin-bottom: -5px;
	color:#8b8b8b;
	
}
.pcont-cop {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-align: left;
	text-transform: uppercase;
	font-size: 12px;
	color:black;
	margin-top:-5px;
}
.block-latt{
	display: flex;
	justify-content: center;
}
.latt-sect{
	height:425px;
	width: 600px;
	margin-bottom: 50px;
}
.lattsect-1{
	background: #f5f6f6;
}
.lattsect-2{
	background: url("../files/sect2.png") 100% no-repeat;
}
.lattsect-3{
	background: url("../files/sect3.png") 100% no-repeat;
}
.lattsect-4{
	background: #f5f6f6;
}
.lattsect-5{
	background: #f5f6f6;
}
.lattsect-6{
	background: url("../files/sect6.png") 100% no-repeat;
}
.hr-1 {
	border: none;
	color: black;
	background-color: black;
	height: 1px;
	width: 70%;
	text-align: left;
	margin-left:35px;
}
.platt{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-align: left;
	font-size: 12px;
	margin-left:38px;
	margin-top: 35px;
	color:#8b8b8b;
	
}
.platt-cop {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-align: left;
	text-transform: uppercase;
	font-size: 12px;
	color:black;
	margin-left:35px;
}
.platt-cop-2 {
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	font-weight: 400;
	font-size: 24px;
	color:black;
	margin-left: 35px;
	
}
.latt-p {
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
	margin-left: 35px;
	margin-right: 65px;
	font-size: 14px;
	color: rgba(0,0,0,0.5);
}
.anchor-lett{
	display: block;
	border: 1px solid rgba(0,0,0,0.3);
	width:196px;
	height: 55px;
	text-decoration: none;
	color: black;
	margin-bottom: 35px;
	margin-top: 60px;
	margin-left: 38px;
}
.like-share-whtch {
	position: relative;
	bottom: 60px;
	margin-left: 200px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: rgba(0,0,0,0.5);
}
.like-share-whtch img {
	vertical-align: middle;
	margin-left: 20px;
	margin-right: 10px;
}

.like-share-whtch img:nth-child(4n){
	vertical-align: middle;
	margin-left: 20px;
	
}
.new {
	padding-top: 170px;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 125px;
}
.new-cont{
	display: flex;
	justify-content: center;
}
.new-block {
	margin: 25px;
	width: 385px;
	height: 425px;
	background: gray;
}
.new-block-2 {
	margin: 25px;
	width: 385px;
	height: 425px;
	background: gray;
}

.new-block:nth-child(1){
	background: url("../files/phcard.png") 100% no-repeat;
}
.new-block:nth-child(2){
	background: url("../files/phcard2.png") 100% no-repeat;
}
.new-block:nth-child(3){
	background: url("../files/phcard3.png") 100% no-repeat;
}
.new-block-2:nth-child(1){
	background: url("../files/phcard4.png") 100% no-repeat;
}
.new-block-2:nth-child(2){
	background: url("../files/phcard5.png") 100% no-repeat;
}
.new-block-2:nth-child(3){
	background: url("../files/phcard6.png") 100% no-repeat;
}
.new-info {
	margin: 30px;
}
.hr-2 {
	border: none;
	color: black;
	background-color: black;
	margin-top: -9px;
	height: 1px;
	width: 100%;
	text-align: left;
}
.pnew{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-align: left;
	font-size: 12px;
	color:#515151;
	
}
.pnew-cop {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-align: left;
	text-transform: uppercase;
	margin-top: -5px;
	font-size: 12px;
	color:white;
}
.pnew-cop-2 {
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
	font-weight: 400;
	font-size: 20px;
	color:black;	
}
.new-p {
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
	font-weight: 600;
	font-size: 92%;
	color: rgba(0,0,0,0.5);
}
